<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate
  class="relative min-h-screen flex justify-center items-center">
  <!-- Fondo degradado -->
  <div class="absolute top-0 left-0 w-full h-full bg-cover bg-center overflow-hidden z-0"
    style="background-image: url('assets/hola.avif');"></div>

  <!-- Contenedor principal -->
  <div class="relative w-[1200px] min-h-screen flex justify-center items-center px-4 z-10">
    <!-- Tarjeta con borde animado -->
    <div
      class="relative flex flex-col md:flex-row w-full max-w-5xl bg-transparent rounded-3xl overflow-hidden shadow-lg">
      <svg class="absolute inset-0 w-full h-full pointer-events-none z-20 border-svg" viewBox="0 0 900 450"
        preserveAspectRatio="none">
        <defs>
          <linearGradient id="grad-neon" x1="0%" y1="0%" x2="100%" y2="0%">
            <stop offset="0%" stop-color="#39FF14" />
            <stop offset="50%" stop-color="#32CD32" />
            <stop offset="100%" stop-color="#39FF14" />
          </linearGradient>
        </defs>
        <rect x="3" y="3" width="894" height="444" rx="24" ry="24" fill="none" stroke="url(#grad-neon)" stroke-width="6"
          class="border-rect" />
      </svg>

      <!-- Imagen izquierda -->
      <div
        class="w-full md:w-1/2 relative min-h-[100px] md:min-h-[250px] rounded-t-3xl md:rounded-l-3xl md:rounded-tr-none overflow-hidden">
        <div class="absolute inset-0 bg-center bg-contain bg-no-repeat scale-90 opacity-90"
          style="background-image: url('img/chatgpt-image.png');"></div>
      </div>

      <!-- Formulario -->
      <div class="w-full lg:w-1/2 p-10 bg-white bg-opacity-90">
        <div class="mb-7">
          <h3 class="font-semibold text-2xl text-gray-800">Crear cuenta</h3>
          <p class="text-white-400">
            ¿Ya tienes una cuenta?
            <a routerLink="/login" class="text-sm text-green-700 hover:text-green-700">Iniciar sesión</a>
          </p>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div>
            <label class="block text-sm text-gray-700 mb-1">Nombre</label>
            <input formControlName="nombre" type="text" placeholder="Nombre"
              class="w-full text-sm px-4 py-3 bg-white border border-gray-200 rounded-lg focus:outline-none focus:border-purple-400" />
          </div>
          <div>
            <label class="block text-sm text-gray-700 mb-1">Apellidos</label>
            <input formControlName="apellidos" type="text" placeholder="Apellidos"
              class="w-full text-sm px-4 py-3 bg-white border border-gray-200 rounded-lg focus:outline-none focus:border-purple-400" />
          </div>
          <div>
            <label class="block text-sm text-gray-700 mb-1">Teléfono</label>
            <input formControlName="telefono" type="tel" placeholder="Teléfono"
              class="w-full text-sm px-4 py-3 bg-white border border-gray-200 rounded-lg focus:outline-none focus:border-purple-400" />
          </div>
          <div>
            <label class="block text-sm text-gray-700 mb-1">Dirección</label>
            <input formControlName="direccion" type="text" placeholder="Dirección"
              class="w-full text-sm px-4 py-3 bg-white border border-gray-200 rounded-lg focus:outline-none focus:border-purple-400" />
          </div>
          <div>
            <label class="block text-sm text-gray-700 mb-1">Foto de Perfil</label>
            <input type="file" (change)="onFileSelected($event)" accept="image/*"
              class="w-full text-sm px-4 py-2 bg-white border border-gray-200 rounded-lg focus:outline-none focus:border-purple-400" />
            <div class="mt-2" *ngIf="previewUrl">
              <img [src]="previewUrl" alt="Preview" class="h-24 w-24 rounded-full object-cover" />
            </div>
          </div>

          <div>
            <label class="block text-sm text-gray-700 mb-1">Fecha de Nacimiento</label>
            <input formControlName="fechaNacimiento" type="date"
              class="w-full text-sm px-4 py-3 bg-white border border-gray-200 rounded-lg focus:outline-none focus:border-purple-400" />
          </div>
          <div>
            <label class="block text-sm text-gray-700 mb-1">Correo Electrónico</label>
            <input formControlName="email" type="email" placeholder="correo@ejemplo.com"
              class="w-full text-sm px-4 py-3 bg-white border border-gray-200 rounded-lg focus:outline-none focus:border-purple-400" />
          </div>

          <!-- Selección de país -->
          <div class="mb-4">
            <label class="block text-sm text-gray-700 mb-1">Pais</label>
            <select (change)="onPaisSeleccionado($event)" class="w-full rounded">
              <option value="" disabled selected>Selecciona país</option>
              <option *ngFor="let c of countries" [value]="c.id">{{ c.name }}</option>
            </select>
          </div>



          <!-- Selección de subdivisión -->
          <div class="mb-4">
            <label class="block text-sm text-gray-700 mb-1">Subdivisión</label>
            <select formControlName="subdivisionId" class="w-full border p-2 rounded" [disabled]="!subdivisions.length">
              <option value="" disabled selected>Selecciona subdivisión</option>
              <option *ngFor="let s of subdivisions" [value]="s.id">{{ s.name }}</option>
            </select>
            <div *ngIf="subdivisions.length === 0" class="text-gray-500 text-sm">Selecciona un país primero.</div>
          </div>

          <!-- Contraseña -->
          <div class="relative">
            <label class="block text-sm text-gray-700 mb-1">Contraseña</label>
            <input formControlName="password" [type]="showPassword ? 'text' : 'password'" placeholder="Contraseña"
              class="w-full text-sm px-4 py-3 pr-12 bg-white border border-gray-200 rounded-lg focus:outline-none focus:border-purple-400" />
            <button type="button" (click)="togglePasswordVisibility()"
              class="absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-500 hover:text-black">
              <i class="fas" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
            </button>
          </div>

          <div>
            <label class="block text-sm text-gray-700 mb-1">Confirmar Contraseña</label>
            <input formControlName="confirmPassword" [type]="showPassword ? 'text' : 'password'"
              placeholder="Confirmar Contraseña"
              class="w-full text-sm px-4 py-3 bg-white border border-gray-200 rounded-lg focus:outline-none focus:border-purple-400" />
          </div>
        </div>

        <!-- Botón de Registro -->
        <div class="mt-7">
          <button type="submit" [disabled]="registerForm.invalid"
            class="w-full flex justify-center bg-green-700 hover:bg-gray-900 text-white p-3 rounded-lg tracking-wide font-semibold transition ease-in duration-500">
            Registrarse
          </button>
        </div>
      </div>
    </div>
  </div>
</form>