<div class="w-64 bg-white border-r border-gray-200 h-screen">
    <div class="px-6 py-4">
      <h2 class="text-lg font-semibold text-green-600">PANEL-ADM</h2>
    </div>
    <h2 class="text-lg font-semibold text-gray-700 ml-5">Panel</h2>
      <div class="px-4 py-6 border-b-4 border-green-600">
        <ul>
          <li routerLink="/dashboard" routerLinkActive="bg-green-400" class="mb-4 p-1 rounded-lg">
            <a class="text-gray-700 hover:text-green-600 flex items-center text-lg">
              <i class="fas fa-home pr-4"></i>
              Dashboard
            </a>
          </li>
          <li routerLink="/emprendimiento" routerLinkActive="bg-green-400" class="mb-4 p-1 rounded-lg">
            <a  class="text-gray-700 hover:text-green-600 flex items-center text-lg">
              <i class="fas fa-cogs pr-4"></i>
              Emprendimiento
            </a>
          </li>
          <li routerLink="/roles" routerLinkActive="bg-green-400" class="mb-4 p-1 rounded-lg">
            <a  class="text-gray-700 hover:text-green-600 flex items-center text-lg">
              <i class="fas fa-plus pr-4"></i>
              Roles
            </a>
          </li>
          <li routerLink="/paquetes" routerLinkActive="bg-green-400" class="mb-4 p-1 rounded-lg">
            <a class="text-gray-700 hover:text-green-600 flex items-center text-lg">
              <i class="fas fa-file-alt pr-4"></i>
              Paquetes Turisticos
            </a>
          </li>
          <li  routerLink="/platos" routerLinkActive="bg-green-400" class="mb-4 p-1 rounded-lg">
            <a class="text-gray-700 hover:text-green-600 flex items-center text-lg">
              <i class="fas fa-calendar pr-4"></i>
              Platos tipicos
            </a>
          </li>
          <li routerLink="/dashboard" routerLinkActive="bg-green-400" class="mb-4 p-1 rounded-lg">
            <a class="text-gray-700 hover:text-green-600 flex items-center text-lg">
              <i class="fas fa-box pr-4"></i>
              Reservas
            </a>
          </li>
          <li  routerLink="/dashboard" routerLinkActive="bg-green-400" class="mb-4 p-1 rounded-lg">
            <a class="text-gray-700 hover:text-green-600 flex items-center text-lg">
              <i class="fas fa-comment pr-4"></i>
              Mensajes
            </a>
          </li>
          <li routerLink="/dashboard" routerLinkActive="bg-green-400" class="mb-4 p-1 rounded-lg">
            <a class=" text-gray-700 hover:text-green-600 flex items-center text-lg">
              <i class="fas fa-star pr-4"></i>
              Valoraciones
            </a>
          </li>
        </ul>
      </div>
      <div class="px-4 py-6 mt-auto">
        <ul>
          <li class="mb-4">
            <a href="#" class=" text-gray-700 hover:text-green-600 text-lg">
              <i class="fas fa-cogs pr-5"></i>Configuración</a>
          </li>
          <li class="mb-4">
            <a href="#" class="text-gray-700 hover:text-green-600 text-lg">
              <i class="fas fa-user pr-5"></i>
              Ayuda</a>
          </li>
          <li>
            <a href="#" class="text-gray-700 hover:text-green-600 text-lg">
              <i class="fa-solid fa-right-from-bracket pr-5"></i>
              Cerrar Sesión</a>
          </li>
        </ul>
      </div>
</div>
